# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.lst

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.elf

# Debug files
*.dSYM/
*.su

# Emacs files
*~

# Icarus Verilog
*.vcd
*.key
*.log
*.diag
*.pyc
.simvision/
INCA_libs/
*.shm/
*.sv

# Xilinx Files
*.jou
*.wdb
*.pb
xsim.dir/
*.fmt
*.mem
*.gtkw
*.wlf
work/
transcript
*.tmp
*.srec
